<!DOCTYPE html>
<html lang="en">
<head>
    <title>密码修改 - 进出管理系统</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/static/images/huade.ico">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <style>
        @font-face {
            font-family: baidu;
            src: url(/static/font/baidu.ttf);
        }

        #fontload {
            font-family: baidu;
        }

        .ImgDiv {
            width: 60%;
            /* height: 80%; */
            margin: auto;
        }

        .page-content {
            position: absolute;
            top: 20%;
            right: 50%;
        {#left: 50%;#}{#top: 50%;#}{#transform: translate(-50%, -50%);#}
        }


    </style>
    <link rel="stylesheet" type="text/css" href="/static/font-awesome/css/font-awesome.min.css">
</head>
<body class="app sidebar-mini rtl">
<canvas id='canvas' width="500" height="500"></canvas>
<style type="text/css">
    * {
        margin: 0;
        padding: 0;
    }

    body {
        overflow: hidden;
    }

    #canvas {
        background: url("/static/images/1.jpg");
        background-size: 100%, 100%;
        background-repeat: no-repeat;
        display: block;
    }
</style>
<script type="text/javascript">
    window.requestAnimFrame = (function () {
        return window.requestAnimationFrame ||
            window.webkitRequestAnimationFrame ||
            window.mozRequestAnimationFrame ||
            function (callback) {
                window.setTimeout(callback, 1000 / 60);
            };
    })();//帧动画
    var canvas = document.getElementById("canvas");
    var cxt = canvas.getContext("2d");
    var w, h;
    var num = 200;
    var data = [];
    var move = [];
    init();

    //初始化位置
    function init() {
        {#w = canvas.width = window.innerWidth;#}
        w = canvas.width = window.innerWidth;
        h = canvas.height = window.innerHeight;
        for (var i = 0; i < num; i++)//每个粒子都有自己的角度,从始至终一直是初始化的这个
        {//随机取得一个坐标以及方向增量
            data[i] = {
                x: Math.random() * w,
                y: Math.random() * h,
                cx: Math.random() * 0.6 - 0.3,
                cy: Math.random() * 0.6 - 0.3
            };
            circle(data[i].x, data[i].y);//画点
        }
    }

    function circle(x, y) {
        cxt.save();
        cxt.fillStyle = "pink";
        cxt.beginPath();
        cxt.arc(x, y, 0.5, Math.PI * 2, false);
        cxt.closePath();
        cxt.fill();
        cxt.restore();
    }

    !function draw() {//循环自执行
        cxt.clearRect(0, 0, w, h);//清除画布
        for (var i = 0; i < num; i++) {
            data[i].x += data[i].cx;//位移
            data[i].y += data[i].cy;
            if (data[i].x > w || data[i].x < 0) data[i].cx = -data[i].cx;//边界反弹
            if (data[i].y > h || data[i].y < 0) data[i].cy = -data[i].cy;
            circle(data[i].x, data[i].y);
            for (var j = i + 1; j < num; j++)//寻找距离较小的点(i+1握手原理)
            {
                if ((data[i].x - data[j].x) * (data[i].x - data[j].x) + (data[i].y - data[j].y) * (data[i].y - data[j].y) <= 80 * 80)
                    line(data[i].x, data[i].y, data[j].x, data[j].y);
            }
            if (move.x)//鼠标跟随
            {
                if ((data[i].x - move.x) * (data[i].x - move.x) + (data[i].y - move.y) * (data[i].y - move.y) <= 100 * 100)
                    line(data[i].x, data[i].y, move.x, move.y);
            }

        }
        window.requestAnimFrame(draw);
        /* setInterval(function(){
            draw();
        },13); */
        //定时器会卡顿,所以不用
    }();

    function line(x1, y1, x2, y2) {
        var color = cxt.createLinearGradient(x1, y1, x2, y2);//设置渐变线颜色
        color.addColorStop(0, "yellow");
        color.addColorStop(0.5, "red");
        color.addColorStop(1, "yellow");
        cxt.save();
        cxt.strokeStyle = color;
        cxt.beginPath();
        cxt.moveTo(x1, y1);//起点
        cxt.lineTo(x2, y2);
        cxt.stroke();
        cxt.restore();
    }

    document.onmousemove = function (e) {
        move.x = e.clientX;
        move.y = e.clientY;
    }
</script>
<header class="app-header">
    <a class="app-header__logo" href="/admin/index.html">
        <font id="fontload" size="3">车辆进出管理系统</font>
    </a>
    <!-- Sidebar toggle button-->
    <a class="app-sidebar__toggle" href="#" data-toggle="sidebar" aria-label="Hide Sidebar"></a>
    <!-- Navbar Right Menu-->
    <ul class="app-nav">
        <!-- User Menu-->
        <li class="dropdown"><a class="app-nav__item" href="#" data-toggle="dropdown"
                                aria-label="Open Profile Menu"><i
                class="fa fa-user-o fa-lg"></i></a>
            <ul class="dropdown-menu settings-menu dropdown-menu-right">
                <li><a class="dropdown-item" href="/admin/passwordEdit.html"><i class="fa fa-cog fa-lg"></i>
                    密码修改</a>
                </li>
                <li><a class="dropdown-item" href="/logout"><i class="fa fa-sign-out fa-lg"></i> 注销</a></li>
            </ul>
        </li>
        <!--end User Me -->
    </ul>
</header>
<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
<aside class="app-sidebar">
    <div class="app-sidebar__user"><img class="app-sidebar__user-avatar" src="/static/images/logo.jpg"
                                        alt="User Image">
        <div>
            <p class="app-sidebar__user-name">{{ session_name }}</p>
            <p class="app-sidebar__user-designation">管理员</p>
        </div>
    </div>
    <ul class="app-menu">
        <li><a class="app-menu__item" href="/admin/index.html"><i class="app-menu__icon fa fa-desktop"></i><span
                class="app-menu__label">首页</span></a></li>
        <li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i
                class="app-menu__icon fa fa-car"></i><span
                class="app-menu__label">车辆管理</span><i class="treeview-indicator fa fa-angle-right"></i></a>
            <ul class="treeview-menu">
                <li><a class="treeview-item" href="/admin/carSchool.html"><i
                        class="app-menu__icon fa fa-circle-o"></i>小区常驻车辆</a></li>
                <li><a class="treeview-item" href="/admin/blackList.html"><i
                        class="app-menu__icon fa fa-circle-o"></i>黑名单</a></li>
            </ul>
        </li>
        <li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i
                class="app-menu__icon fa fa-rmb"></i><span
                class="app-menu__label">收费管理</span><i class="treeview-indicator fa fa-angle-right"></i></a>
            <ul class="treeview-menu">
                <li><a class="treeview-item" href="/admin/chargeStandard.html"><i
                        class="app-menu__icon fa fa-circle-o"></i>收费标准设定</a></li>
            </ul>
        </li>
        <li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i
                class="app-menu__icon fa fa-list"></i><span
                class="app-menu__label">信息查询</span><i class="treeview-indicator fa fa-angle-right"></i></a>
            <ul class="treeview-menu">
                <li><a class="treeview-item" href="/admin/carReal.html"><i
                        class="app-menu__icon fa fa-circle-o"></i>实时车辆查询</a></li>
                <li><a class="treeview-item" href="/admin/carDay.html"><i class="app-menu__icon fa fa-circle-o"></i>当日车辆信息查询</a>
                </li>
                <li><a class="treeview-item" href="/admin/carHistory.html"><i
                        class="app-menu__icon fa fa-circle-o"></i>车辆历史信息查询</a></li>
            </ul>
        </li>
        <li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i
                class="app-menu__icon fa fa-money"></i><span
                class="app-menu__label">财务管理</span><i class="treeview-indicator fa fa-angle-right"></i></a>
            <ul class="treeview-menu">
                <li><a class="treeview-item" href="/admin/chargeMoney.html"><i
                        class="app-menu__icon fa fa-circle-o"></i>查看收费金额</a></li>
                <li><a class="treeview-item" href="/admin/chargeRecord.html"><i
                        class="app-menu__icon fa fa-circle-o"></i>查看收费记录</a></li>
            </ul>
        </li>
        <li><a class="app-menu__item" href="/admin/userManage.html"><i class="app-menu__icon fa fa-users"></i><span
                class="app-menu__label">用户管理</span></a></li>
        <li><a class="app-menu__item" href="/admin/log.html"><i class="app-menu__icon fa fa-wrench"></i><span
                class="app-menu__label">操作日志</span></a></li>
        <li><a class="app-menu__item" href="/admin/imageScan.html"><i class="app-menu__icon fa fa-camera"></i><span
                class="app-menu__label">实时识别</span></a></li>
    </ul>
</aside>
<main class="app-content">
    <div class="app-title" style="background: rgba(100,100,100,0.2);color: white">
        <div>
            <h1><i class="fa fa-wrench"></i>修改密码</h1>
        </div>
        <ul class="app-breadcrumb breadcrumb side">
            <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
            <li class="breadcrumb-item">车辆进出管理系统</li>
            <li class="breadcrumb-item active"><a href="/admin/passwordEdit.html">密码修改</a></li>
        </ul>
    </div>
    <div class="page-content">
        <div class="row">
            <div class="col-md-12">
                <div class="tile" style="background: rgba(100,100,100,0.2);color: white">
                    <div class="row">
                        <div class="col-lg-6">
                            <form method="post" action="/editpassword">
                                <div class="form-group">
                                    <label>当前用户名</label>
                                    <input class="form-control" name="this_username" type="text"
                                           placeholder="username">
                                </div>
                                <div class="form-group">
                                    <label>当前密码</label>
                                    <input class="form-control" name="this_password" type="password"
                                           placeholder="Password">
                                </div>
                                <div class="form-group">
                                    <label>新密码</label>
                                    <input class="form-control" name="new_password" type="password"
                                           placeholder="NewPassword">
                                </div>
                                <div class="form-group">
                                    <label>重复密码</label>
                                    <input class="form-control" name="" type="password" placeholder="NewPassword">
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary" type="submit">保存</button>
                                    <span>{{ status }}</span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script src="/static/js/jquery-3.2.1.min.js"></script>
<script src="/static/js/popper.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/main.js"></script>
<script src="/static/js/plugins/pace.min.js"></script>
<script src="/static/js/plugins/jquery.dataTables.min.js"></script>
<script src="/static/js/plugins/dataTables.bootstrap.min.js"></script>
<script type="text/javascript">
    $('#sampleTable').DataTable();
</script>
<script type="text/javascript">
    if (document.location.hostname == 'pratikborsadiya.in') {
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-72504830-1', 'auto');
        ga('send', 'pageview');
    }
</script>
</body>
</html>
